@import "cssAccueil/mixinsacc.scss";

.wrapper
{
    margin-inline: 10px;
}
.entrées
{

    height: 215px;
    background-color:#f6f6f6 ;

    @media (max-width: 599px)
    {
        margin-bottom: 20px;
    }
    
}
.plats
{
    height: 215px;
    background-color:#f6f6f6 ;

    @media (max-width: 599px)
    {
        margin-bottom: 19px;
    }

}
.dessert
{
 
    height: 215px;
    background-color:#f6f6f6 ;
    
}

 $plats : entrées, plats, dessert;

@each $plat in $plats
{
    .#{$plat}
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
    }
}

.plat
    {
        display: flex;
        width: 400px;
        height: 80px;
        justify-content: space-evenly;
        border-radius: 10px;
        box-shadow: 2px 7px 10px 2px #e0e0e0;

        @media (max-width: 599px)
        {
            margin-bottom: 12px;
            height: 50px;
        }
        
    }

.menu1
{
    display: flex;
    flex-direction: column;

}

.interieurhaut
{
    
    height: 50%;
    border-top-left-radius: 10px;
}


.interieurbas
{
  
    height: 50%;
    border-bottom-left-radius: 10px;

}
.prix
{
  
    height: 100%;
    width: 20%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;

}
.icone
{
    height: 100%;
    width: 100px;
    padding-top: 30px;
    padding-left: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: darkturquoise;
    margin-right: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plat 
{
    display: flex;
    width: 400px;
    height: 80px;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 2px 7px 10px 2px #e0e0e0;
      overflow:hidden;
      -webkit-animation: opacity 1s both;
      animation: opacity 1s both;
     
    &:hover 
    {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
       
   
        > .icone 
        {
          transition: all 0.5s ease-out;
          margin-right: -40px;
          display: inline-block;
         }

         .fa-check-circle
         {
             transform: rotate(360deg);
             transition: 1.5s;
     
         }
    }
}
    
 @media (max-width: 599px) 
 {
    .plat 
        {
             margin-bottom: 12px;
            height: 50px;
        }
    }
    
.dedans
{
    width: 100%;
}
.titreplat
{
    flex: 0 0 100%;
    height: 35px;
    text-decoration: underline #99e2d0;
}

#testdiv
{
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 150px;
}

.contplat
{
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 599px)
    {
        height: 175px;
        flex-wrap: wrap;
    }
}
#Nomplat
{
    height: 45px;
    background-color: darkgoldenrod;
}
.coverimg
{
    height: 250px;
}
.coverimg img
{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
#nomcoeur
{
    display: flex;
    height: 60px;

    #title
    {
        width: 70%;
        background-color: #f6f6f6;
    }

    #heart
    {
        width: 30%;
        background-color: #f6f6f6;
    }
}
footer
{
    height: 240px;
}
#infos
{
    background-color: #333;
    height: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#command
{
    height: 90px;
    display: flex;
    justify-content: center;
    background-color:#f6f6f6 ;
    padding-top: 25px;
    padding-bottom: 25px;

    @media (max-width: 599px)
    {
        align-items: center;
    }

    .button 
    {
        height: 65px;
        border-radius: 30px;
        background: linear-gradient(#9693d2, #f12fe2, #d2f7ff);
        width: 190px;
        border: none;
        box-shadow: 2px 7px 10px 2px #e0e0e0;
    }

    .button:hover
    {
        box-shadow:0 0 11px rgba(33,33,33,.2) ;
    }
}

h1
{
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
}
h3
{
    font-size: 33px;
    font-family:Shrikhand;
}

  
.logimg
    {
     display: flex;
    justify-content: space-between;
    width: 62%;
    
        @media (max-width: 599px)
        {
            width: 100%;
        }
    }
    

.divinfo
{
    display: flex;
    
    .fas
    {
        margin-right: 10px;
    }
 }

.button1
{
    
        height: 65px;
        border-radius: 30px;
        background: linear-gradient( #f12fe2, #d2f7ff);
        width: 190px;
        border: none;
        box-shadow: inset 0 0 0 0 #f9e506;
        transition: ease-out 0.3s;
        outline: none;

        h4
        {
            display: none;
        }
}
.button1:hover
{
    box-shadow: inset -500px 0 0 0 #f9e506;
   
    p
    {
        display: none;
    }
    h4 
    {
        display: inline;
    }
}
.derriere
{
    width: 30px;
    background-color: chartreuse;
}
.fa-check-circle
{
    color: white;
    font-size: 24px;
    
}
@-webkit-keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
#plat1 
{
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
#plat2
{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#plat3
{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
#plat4
{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#plat5
{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#plat6
{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
#plat7
{
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
#plat8
{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
#plat9
{
    -webkit-animation-delay: 0.9s;
    animation-delay:0.9s;
}


.loader{
    background:linear-gradient( #da2ff198, #fcfcfcc7);
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: wait;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 9999;
    animation: hideAnimation 0s ease-in 2s;
    animation-fill-mode: forwards;
    

    &:before{
      content: "";
      padding-top: 100%;
      display: block;
      animation-duration: 3s;
    }
    
    &__animated{
      clip-path: inset(100% 0 0 0);
      animation: loader 3s ease-in infinite;
     
    }
    
    img{
      width: 10%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%)
    }
  }
  
  @keyframes loader{
    0%{
     clip-path: inset(100% 0 0 0);
    }
    50%{
     clip-path: inset(0 0 0 0);
    }
    100%{
     clip-path: inset(100% 0 0 0 0);
    }
  }
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    }
.divinfo a
{
    text-decoration: none;
    color: white;
}
a
{
    color: black;
}
.logimg img
{
    @media (max-width: 599px)
{
    width: 100%;
}
}

#logo
{
    display: flex;
    justify-content: center;
}

#logo img
{
    @media (max-width: 599px)
{
    width: 100%;
}
}