@import "cssAccueil/mixinsacc.scss";


.entrées
{

    height: 215px;
    background-color:#f6f6f6 ;
    
}
.plats
{
    height: 215px;
    background-color:#f6f6f6 ;
}
.dessert
{
 
    height: 215px;
    background-color:#f6f6f6 ;
    
}

 $plats : entrées, plats, dessert;

@each $plat in $plats
{
    .#{$plat}
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
    }
}

.plat
    {
        display: flex;
        width: 400px;
        height: 80px;
        justify-content: space-evenly;
        border-radius: 10px;
        box-shadow: 0 5px 15px 0 black;
        
        
        
    }

.menu1
{
    display: flex;
    flex-direction: column;

}

.interieurhaut
{
    background-color: indianred;
    height: 50%;
    border-top-left-radius: 10px;
}
.interieurbas
{
    background-color: orchid;
    height: 50%;
    border-bottom-left-radius: 10px;

}
.prix
{
    background-color: powderblue;
    height: 100%;
    width: 20%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.dedans
{
    @include border;
    width: 100%;
}
.titreplat
{
    flex: 0 0 100%;
    height: 35px;
}

#testdiv{
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 150px;
}

.contplat
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#Nomplat
{
    height: 45px;
    background-color: darkgoldenrod;
}
.coverimg
{
    height: 250px;
}
.coverimg img
{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
#nomcoeur
{
    display: flex;
    height: 60px;

    #title
    {
        width: 70%;
        background-color: #f6f6f6;
    }

    #heart
    {
        width: 30%;
        background-color: #f6f6f6;
    }
}
footer
{
    height: 240px;
}
#log
{
    background-color:#333;
    height: 40%;

}
#infos
{
    background-color: #333;
    height: 60%;
    color: white;
}
#command
{
    height: 90px;
    display: flex;
    justify-content: center;
    background-color:#f6f6f6 ;

    .button
    {
        height: 65px;
        border-radius: 30px;
        background: linear-gradient(#9693d2, #f12fe2, #d2f7ff);
        width: 190px;
    }


}
h1
{
    font-size: 20px;
    font-weight: bold;
}
h3
{
    font-size: 33px;
    font-family:Shrikhand;
}
