@import "mixinsacc";




#entete
{

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#lieu
{
    @include border;
    height: 10px;
    width: 200px;
    background-color: blanchedalmond;
}
#fascont
{
    display: flex;
    .fas
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}
#explore
{
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    #bouton
    {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    }
}

#filtre
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include margintop;
    width: 100%;
    height: 100%;
}
.chiffre
{
    background-color:#9356dc ;
    position: absolute;
    width: 25px;
    border-radius: 15px;
    height: 22px;
    margin-left: -13px;
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
    color: white;

    @media (max-width: 599px)
    {
        margin-left: 10px;
    }

}
.icone
{
    width: 20%; 
}
.phrase
{
    display: flex;
    width: 100%;
    border-radius: 20px;
    align-items: center;

    @media (max-width: 599px)
    {
        margin-left: 30px;
    }

    .fas
    {
    margin-left: 20px;
    margin-right: 10px;
    }
}

#restauration
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   background-color: #f6f6f6;
    @include margintop;
    @include padresto;
    width: 100%;
    height: 100%;
}
#fin
{
    width: 100%;
    height: 220px;
}
.div1
{
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 7px 10px 2px #e0e0e0;
    width: 380px;
    height: 70px;   
}

.div1:hover
{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: #e9d1f3;
}
.cadrephoto
{
  box-shadow: 2px 7px 10px 2px #e0e0e0;
    width: 310px;
    height: 280px;
    border-radius: 20px;
}
.cadrephoto:hover
{
    transition: .5s;
    transform: scale(1.02);
    transform: translateX(20px) scale(1);
    box-shadow:  -2px 4px 36px rgba(147, 86, 220, 0.6);
    
}

.photo
{
    background-color: coral;
    height: 70%;
    @include raduisresto;
}
.photo img
{
    height: 100%;
    width: 100%;
    @include raduisresto;
}
.textephoto
{
    height: 30%;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.texte
{
    width: 90%;
}
.coeur
{
    width: 10%;
    margin-top: 20px;
}
.fas
{
    font-size: 30px;
}
.far
{
    font-size: 30px;

   

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.far:hover
{
    font-weight: 900;
    background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(219,45,253,1) 80%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInAnimation ease 0.9s;
     cursor: pointer;


  
}
.titre
{
    display: flex;
    flex: 0 0 100%;
    margin-top: 30px;
    margin-bottom: 25px;
    text-decoration: underline#99e2d0;
}
.button
{
    width: 280px;
    height: 45px;
    border-radius: 30px;
    background: linear-gradient(#9693d2, #f12fe2, #d2f7ff);
    border:none;
    box-shadow: 2px 7px 10px 2px #e0e0e0;
}
#explore h1
{
    font-weight: bold;
    font-size: 30px;
}
#explore h2
{
     font-size: 20px;
}
#recherche
{
    width: 315px;
    height: 40px;
    background-color:#f6f6f6 ;
    border: none;
}
#each
{
    border: 1px solid black;
    display: flex;
    width: 375px;
    margin: 3px;
}
#each .fas
{
    width: 53px;
}
#Ohmyf
{
    height: 90px;
    display: flex;
    justify-content: center;
}
ol.liste
{
    list-style-type: decimal;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
li
{
    border: 1px solid black;
    width: 200px;
}

.titrefin
{
    justify-content: center;
    display: flex;
    flex: 0 0 100%;
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 15px;

    img 
    {
     
    @media (max-width: 599px)
        {
            width: 100%;
        }
    }
}
.divinfo
{
display: flex;
    .fas
    {
     margin-right: 10px;
    }
}
#infos
{
    background-color: #333;
    height: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#command
{
    height: 90px;
    display: flex;
    justify-content: center;
    background-color:#f6f6f6 ;

    .button
    {
        height: 65px;
        border-radius: 30px;
        background: linear-gradient(#9693d2, #f12fe2, #4f909e);
        width: 190px;
        box-shadow: 2px 7px 10px 2px #e0e0e0;
    }
    .button:hover
    {
        box-shadow:0 0 11px rgba(33,33,33,.2) ;
    }
}
#texteintro
{
    display: flex;
    justify-content: center;
}

#logo img
{
    width: 100%;
}
#bouton 
{
    .button
    {
        box-shadow: 2px 7px 10px 2px #e0e0e0;

    }
    
    .button:hover
    {
        box-shadow:0 0 11px rgba(33,33,33,.2) ;
    }
}

.loader
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lettre
{
    color: #484848;
    font-size: 80px;
    letter-spacing: 20px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash
{
    0%
    {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
    90%
    {
        color: #484848;
        text-shadow: none;
    }
    100%
    {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }

}