#entete {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#lieu {
  border: 1px solid black;
  height: 10px;
  width: 200px;
  background-color: blanchedalmond;
}

#fascont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fascont .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#explore {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

#explore #bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
}

#filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.chiffre {
  background-color: #9356dc;
  position: absolute;
  width: 25px;
  border-radius: 15px;
  height: 22px;
  margin-left: -13px;
  margin-top: 20px;
  text-align: center;
  padding-top: 5px;
  color: white;
}

@media (max-width: 599px) {
  .chiffre {
    margin-left: 10px;
  }
}

.icone {
  width: 20%;
}

.phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 599px) {
  .phrase {
    margin-left: 30px;
  }
}

.phrase .fas {
  margin-left: 20px;
  margin-right: 10px;
}

#restauration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f6f6f6;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

#fin {
  width: 100%;
  height: 220px;
}

.div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: 2px 7px 10px 2px #e0e0e0;
          box-shadow: 2px 7px 10px 2px #e0e0e0;
  width: 380px;
  height: 70px;
}

.div1:hover {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  background-color: #e9d1f3;
}

.cadrephoto {
  -webkit-box-shadow: 2px 7px 10px 2px #e0e0e0;
          box-shadow: 2px 7px 10px 2px #e0e0e0;
  width: 310px;
  height: 280px;
  border-radius: 20px;
}

.cadrephoto:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transform: translateX(20px) scale(1);
          transform: translateX(20px) scale(1);
  -webkit-box-shadow: -2px 4px 36px rgba(147, 86, 220, 0.6);
          box-shadow: -2px 4px 36px rgba(147, 86, 220, 0.6);
}

.photo {
  background-color: coral;
  height: 70%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.photo img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.textephoto {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texte {
  width: 90%;
}

.coeur {
  width: 10%;
  margin-top: 20px;
}

.fas {
  font-size: 30px;
}

.far {
  font-size: 30px;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.far:hover {
  font-weight: 900;
  background: -webkit-gradient(linear, left bottom, left top, from(#22c1c3), color-stop(80%, #db2dfd));
  background: linear-gradient(0deg, #22c1c3 0%, #db2dfd 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fadeInAnimation ease 0.9s;
          animation: fadeInAnimation ease 0.9s;
  cursor: pointer;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 30px;
  margin-bottom: 25px;
  -webkit-text-decoration: underline #99e2d0;
          text-decoration: underline #99e2d0;
}

.button {
  width: 280px;
  height: 45px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9693d2), color-stop(#f12fe2), to(#d2f7ff));
  background: linear-gradient(#9693d2, #f12fe2, #d2f7ff);
  border: none;
  -webkit-box-shadow: 2px 7px 10px 2px #e0e0e0;
          box-shadow: 2px 7px 10px 2px #e0e0e0;
}

#explore h1 {
  font-weight: bold;
  font-size: 30px;
}

#explore h2 {
  font-size: 20px;
}

#recherche {
  width: 315px;
  height: 40px;
  background-color: #f6f6f6;
  border: none;
}

#each {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
  margin: 3px;
}

#each .fas {
  width: 53px;
}

#Ohmyf {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ol.liste {
  list-style-type: decimal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

li {
  border: 1px solid black;
  width: 200px;
}

.titrefin {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 15px;
}

@media (max-width: 599px) {
  .titrefin img {
    width: 100%;
  }
}

.divinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divinfo .fas {
  margin-right: 10px;
}

#infos {
  background-color: #333;
  height: 60%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#command {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
}

#command .button {
  height: 65px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9693d2), color-stop(#f12fe2), to(#4f909e));
  background: linear-gradient(#9693d2, #f12fe2, #4f909e);
  width: 190px;
  -webkit-box-shadow: 2px 7px 10px 2px #e0e0e0;
          box-shadow: 2px 7px 10px 2px #e0e0e0;
}

#command .button:hover {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#texteintro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logo img {
  width: 100%;
}

#bouton .button {
  -webkit-box-shadow: 2px 7px 10px 2px #e0e0e0;
          box-shadow: 2px 7px 10px 2px #e0e0e0;
}

#bouton .button:hover {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lettre {
  color: #484848;
  font-size: 80px;
  letter-spacing: 20px;
  margin-bottom: 150px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
}

@-webkit-keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}

@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}
/*# sourceMappingURL=ohmyfacc.css.map */