body {
  background-color: sandybrown;
}

.wrapper {
  margin-inline: 40px;
}

#entete {
  background-color: aqua;
  border: 1px solid black;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#entete #lieu {
  border: 1px solid black;
  height: 10px;
  width: 200px;
  background-color: blanchedalmond;
}

#explore {
  background-color: red;
  border: 1px solid black;
  margin-top: 20px;
  width: 100%;
  height: 140px;
}

#explore #bouton {
  border: 1px solid black;
  height: 30px;
  width: 60px;
  background-color: blanchedalmond;
}

#filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: blueviolet;
  border: 1px solid black;
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

.chiffre {
  /*  width: 30%;*/
  background-color: darkslategray;
  /*  @include border;*/
  /*  height: 33%;*/
}

.icone {
  /*  width: 30%;*/
  background-color: darkcyan;
  /*@include border;*/
  /* height: 33%;*/
}

.phrase {
  /* width: 30%;*/
  background-color: lightseagreen;
  /*  @include border;*/
  /*  height: 33%;*/
}

#restauration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: royalblue;
  border: 1px solid black;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

#fin {
  background-color: salmon;
  border: 1px solid black;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 220px;
}

.div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: blanchedalmond;
  width: 415px;
  height: 80px;
  border: 1px solid black;
  border-radius: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cadrephoto {
  background-color: burlywood;
  border: 1px solid black;
  width: 310px;
  height: 280px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.photo {
  background-color: coral;
  height: 60%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.photo img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.textephoto {
  background-color: darkkhaki;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coeur {
  background-color: magenta;
  height: 30px;
  width: 50px;
}

.titre {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

#texteintro {
  margin-bottom: 30px;
}

.button {
  width: 280px;
  height: 45px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9693d2), color-stop(#f12fe2), to(#d2f7ff));
  background: linear-gradient(#9693d2, #f12fe2, #d2f7ff);
}

#explore h1 {
  font-weight: bold;
  font-size: 30px;
}

#explore h2 {
  font-size: 20px;
}

#recherche {
  width: 315px;
  height: 40px;
}

#each {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
}

#each .fas {
  width: 53px;
}

#Ohmyf {
  border: 1px solid black;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ol.liste {
  list-style-type: decimal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

li {
  border: 1px solid black;
  width: 200px;
}
/*# sourceMappingURL=ohmyfacc.css.map */