@import "mixinsacc";


body
{
    background-color:sandybrown;
}
.wrapper
{
    margin-inline: 40px;
}
#entete
{
    background-color: aqua;
    @include border;
    @include margintop;
    @include padentete;
    width: 100%;
    height: 100px;
}
#lieu
{
    @include border;
    height: 10px;
    width: 200px;
    background-color: blanchedalmond;
}
#explore
{
    background-color: red;
    @include border;
    @include margintop;
    @include padexplore;
    width: 100%;
    height: 140px;
}
#bouton
{
    @include border;
    height: 30px;
    width: 60px;
    background-color: blanchedalmond;
}
#filtre
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: blueviolet;
    @include border;
    @include margintop;
    @include padfiltre;
    width: 100%;
    height: 100%;
}
.chiffre
{
    width: 30%;
    background-color: darkslategray;
    @include border;
    height: 33%;
}
.icone
{
    width: 30%;
    background-color: darkcyan;
    @include border;
    height: 33%;
}
.phrase
{
    width: 30%;
    background-color: lightseagreen;
    @include border;
    height: 33%;
}
#restauration
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: royalblue;
    @include border;
    @include margintop;
    @include padresto;
    width: 100%;
    height: 100%;
}
#fin
{
    background-color: salmon;
    @include border;
    @include margintop;
    @include padfin;
    width: 100%;
    height: 220px;
}
.div1
{
    display: flex;
    background-color: blanchedalmond;
    @include tailleconfiltre;
    @include border;
    @include raduisfiltre;
    justify-content: space-evenly;
}
.cadrephoto
{
    background-color: burlywood;
    @include border;
    @include tailleconres ;
    @include raduisresto;
}
.photo
{
    background-color: coral;
    height: 60%;
    @include raduisresto;
}
.textephoto
{
    background-color: darkkhaki;
    height: 40%;
}
.coeur
{
    background-color: magenta;
    height: 30px;
    width: 50px;
}
.titre
{
    flex: 0 0 100% ;
}